<h1>Welcome to the Concert Connection</h1>

<% if @venues.any?()%>

<h3>Concert Venues</h3>
<ul>
  <% @venues.each do |venue|%>
    <li><a href="/venue/<%= venue.id()%>"><%= venue.name() %></a></li>
  <% end%>
</ul>




<% else %>

  <h3>Add some venues</h3>

<% end %>

<form action="/add_venue" method = "post">
  <div class="form_group">
    <label for="name">Venue Name</label>
    <input id="name" name="name" type="text" class= "form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Venue</button>
</form>
